 /* #commons  */

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Open Sans', sans-serif;
 }

 .left {
     float: left;
 }

 .right {
     float: right;
 }

 .clearfix::after {
     content: '';
     display: table;
     clear: both;
 }

 .mar-top-20 {
     margin-top: 20px;
 }

 .mar-top-50 {
     margin-top: 50px;
 }

 .row::after {
     content: '';
     display: table;
     clear: both;
 }

 a {
     text-decoration: none;
 }

 i {
     margin-right: 3px;
 }

 li {
     list-style: none;
 }

 .container-70 {
     width: 70%;
     margin: auto;
 }

 .container-80 {
     width: 80%;
     margin: auto;
 }

 

 .container-100 {
     width: 100%;
 }

 .border {
     border: 1px solid lightgray;
 }

 .border-btm {
     border-bottom: 1px solid lightgray;
 }

 .bold {
     font-weight: bold;
 }

 .light-gray {
     color: hsl(208deg 11% 48%);
 }


 .btn-blue a {
     /* display: inline-block; */
     background-color: #0061ff;
     margin: 0px 20px;
     color: white;
     padding: 8px 20px;
     font-weight: 600;
 }

 .btn-blue:hover {
     opacity: 0.5;
 }

 .pos-rel {
     position: relative;
 }

 .pos-abs {
     position: absolute;
 }

 .font-big {
    font-size: 60px;
}
 .underline{
    text-decoration: underline;
}

.operazioni h3{
    font-size:80px;
    padding:20px 0;
}

/* colori bg  */

.verde{
    background-color: #a3d39c;
}

.vinaccio{
    background-color: #61082b;
}

.celeste{
    background-color: #0093ce;
}

.arancione{
    background-color: #ff1c1c;
}

.rosso-scuro{
    background-color:#d5001f;
}

.celeste-chiaro{
    background-color:#b4d0e7 ;
}

.blue-scuro{
    background-color: #0d2481;
}

.giallo-paglia{
    background-color:#ffd830;
}




 /* header  */


 /* ##navbar##  */
 nav {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 80px;
     background-color: white;
     z-index: 3;
 }

 nav .row {
     line-height: 80px;
 }

 nav .row li {
     display: inline-block;
     margin: 0 5px;
 }



 nav .row li a {
     margin: 0 15px;
     font-size: 16px;
     color: black;
     font-weight: 400;
 }

 nav .row li a:hover {
     display: inline-block;
     border-bottom: 2px solid black;
 }


 nav .row img {
     display: inline-block;
     vertical-align: middle;
     object-fit: cover;
     padding-bottom: 5px;
 }


 nav .logo {
     margin: 0 20px;
 }


 /* ####Jumbo section####  */

#jumbo{
    background-color:#b4d0e7;
    margin-top: 80px;
    width: 100%;
    
}

#jumbo img{
    width: 100%;
}

#jumbo .container-80{
    max-width:1200px;
    top: 60px;
}



h1{
    font-size: 60px;
    padding-bottom: 30px;
}



#jumbo .container-80 .sx{
    width: 40%; 
    padding-right: 30px; 
}


#jumbo .container-80 .dx{
    width: 60%;
    max-height:500px;
    padding-left: 0px;
}

#jumbo .container-100 .sx .btn-blue{
    margin-top: 50px;
    margin-bottom: 20px;
}
#jumbo .container-100 .sx .btn-blue a{
    margin: 0;
}

.arrow{
    padding-top: 20px;
    display: block;
    font-size: 50px;
    font-weight: 900;
}


 /* main */
 main {
     margin-top: 80px;
 }

 /* #setction1#  */

 /* #piano-drop#box  */

 #section1 .piano-dropbox {
     width: 100%;
     margin-top: 200px;

 }

 #section1 .piano-dropbox h2 {
     font-size: 50px;
     padding-bottom: 70px;
 }

 #section1 .piano-dropbox input {
     display: inline-block;
     margin-bottom: 50px;
 }

 section .row {
     width: 100%;
 }

 section#section1 .clm {
     display: inline-block;
     width: calc(100% / 3 - 20px);
     min-height: 1340px;
 }


 section .clm:nth-child(even) {
     margin: 0 30px;
 }

 section .clm h5 {
     font-size: 16px;
     text-align: center;
     margin-bottom: 10px;
     padding: 20px;
 }

 section .clm h4 {
     font-size: 30px;
     margin-bottom: 15px;
 }

 section .clm .lista-top ul li {
     margin: 30px 0;
     font-weight: 500;
 }




 .clm .btn-blue a{
     display: block;
     width: 100%;
     margin: auto;
     text-align: center;
     
     margin: 10 0px;
 }

 .acq-ora {
     padding-bottom: 50px;
 }

 .acq-ora a {
     color: #0061ff;
 }

 .acq-ora a:hover {
     text-decoration: underline;
 }

 .acq-ora::after {
     content: '';
     display: block;
     position: relative;
     width: 16%;
     border: 1px solid #8989896b;
     margin-top: 40px;
 }

 .lista-bottom .punti {
     display: block;
     font-size: 20px;
 }

 .lista-top ul li{
    font-size: 18px;
    padding-left:25px;

}

.lista-top i{
    color:black;
    text-align:left;
    margin-left:-25px;
}
 .lista-bottom ul li{
     font-size: 18px;
     padding-left:25px;

 }

 .lista-bottom i{
     color: #0061ff;
     text-align: left;
     margin-left: -25px;

 }

 section#section1 .custom{
margin: 50px 0px;}

section#section1 .row{
    padding-bottom: 50px;
}

 section#section1 .custom h5{
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
section#section1 .custom .clm-sx{
    font-size: 20px;
    text-align: left;
    line-height: 2.6;
    width: 70%;
    padding-left: 40px;
}

section#section1 .custom .clm-sx h3{
    font-size: 30px;
}

section#section1 .custom .clm-sx p{
    font-size: 18px;
    padding-top: 30px;
}

section#section1 .custom .clm-dx{
    text-align: center;
    width: 30%;
    padding-right: 0;
}
section#section1 .custom .btn-blue a{
    display: block;
    width: 90%;
    padding: 15px 0px;
    margin-left: 0px;
    
  }

  /* #sextion2*/

  /* partners */
section#section2 .box{

    margin-top: 100px;
    width: calc(100% / 2);
    padding: 60px 0;
}

section#section2 .box img{
    width: 100%;
}

section#section2 .row .dx{

    padding-top: 100px;
    padding-left: 50px;
}

section#section2 .row h3{
    font-size: 35px;
}

section#section2 .row p{
    font-size: 20px;
    font-weight: 500;
}

section#section2 .row .btn-blue{
    margin-top: 40px;
}

section#section2 .row .btn-blue a{
    font-size: 20px;
    font-weight: 400;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin:0;
    ;
}

/* card section  */

.operazioni .row .clm{
    padding-bottom: 20px; 
    width: calc(100% / 3 - 40px);
    min-height: max-content;
   
}

.operazioni .row .clm img{
    width: 100%;
}

.operazioni .row .clm p{
    font-size: 21px;
    padding-bottom: 150px;
}


/* #section3  */
.h-team {
    margin-bottom: 50px;
}

.h-team a{
    color: #478dff;
    text-decoration: underline;
}
.h-team h3{
    text-align:unset;
    width:75%;
    font-size: 40px;
}
/* company-box  */

.row .company{
    width: 100vh;
}

.row .company-container{
    line-height: 200px;
    height: 400px;
    width: 30%;
 
}

.row .company-description{
    width: 40%;
    height: 400px;
    background-color:#f5f5f5;
}

.box-company{
    float: left;
    width: calc(100% / 2);
    height: calc(100%/ 2);
    text-align: center;
   
}

.box-company img{
    width: 50%;
    filter: invert();
    vertical-align: middle;
}

 .img-logo-uni{
   padding-bottom: 10px;
    margin: 30px 0px;
}

.img-logo-uni img{
    width: 40%;
}

.company-description .container-70{
    padding-top: 20px;
}

.company-description .img-logo-uni::after{
    content: '';
    display: block;
    position: relative;
    width: 10%;
    border: 1px solid #8989896b;
    margin-top: 8%;
}


.banner{
    height: 350px ;
    background-color: #b4d0e7 ;
}


.banner .testo{
    color: #61082b;
    width: 60%;
    text-align: left;
    font-size: 30px;
}

.banner .testo h3{
    padding: 140px 150px;
}

.banner .btn-banner{
    width: 40%;
    padding-top: 140px;
   
}

.banner .btn-banner a{
width: 70%;
color: black;
display: inline-block;
font-size: 15px;
background-color: white;
padding: 10px 50px;
text-align: center;
}

.btn-banner:hover a{
    opacity: 0.5;
}

/* sezione faq  */

#section4  h2{
    font-size: 2em;
    margin-top: 150px;
   padding-bottom: 20px;
}
.container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
  }
  
  .accordian{
      border-top: 1px solid lightgray;
      border-top: 1px solid lightgray;
  }

  .accordion .accordion-item  {
    border-top: 1px solid lightgray;
  }

  #accordion-button-1{
      padding-top: 3em;
  }

  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    margin-right: 50px;
    color: black;
    font-size: 1.1em;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  .accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: black;
  }
  .accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: black;
    border: 1px solid black;
  }
  .accordion button .accordion-title {
    padding: 1.0em 1.5em 1em 0;
    margin-top: 1em;
  }
  .accordion button i {
   
    display: inline-block;
    position: absolute;
    top: 52px;
    right: 0;
    width: 22px;
    height: 22px;
  
  }

  .accordian button .fas::before{
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }

  .accordin button .fas::after{
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  
  .accordion button[aria-expanded=true] {
    color: black;
  }
  .accordion button[aria-expanded=true] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5em 0;
  }


  /* #Footer  */
  
footer{
    padding: 100px;
    margin-top: 150px;
    height: 500px;
    background: #2c2f33;;
}

#footer-top{
    border-bottom: 1px solid #255ee9;
    padding-bottom: 20px;
}


#footer-top li:first-child a{
    color:#255ee9 ;
}

footer .clm{
    width: 30%;
}


footer .clm-list{
    text-align: left;
    width: calc(100% / 4);
    padding-top: 20px;
    padding-left: 30px;
    
}

 footer .clm-list li{
    list-style: none;
    line-height: 2;
    }
 footer .clm-list li a{
    font-weight: 200;
     color: white;
 }

 footer li:first-child{
     font-size: 20px;
     margin-bottom:20px;
     font-weight: 900;
 }

 
#footer-bottom{
    width: 100%;
    padding-top: 40px;
}

/* 
 .debug .testo{
     height: 350px;
     background-color: red;
 } */





/* .debug .box-uni{
    border: 1px solid black;
} */


/* .debug .company-description{
    width: 40%;
    height: 400px;
    background-color:#f5f5f5;
} */






 /* .debug #section1 {
     height: 800px;
     /* background-color: yellow; */


 /* 
.debug #section1 .titolo{
    width: 100%;
    margin-top: 200px;
    background-color: green
    ;
} */

 /* .debug #section1 .row{
    width:100%;
    height: 300px;
    background-color: red;
} */

 /* .debug #section1 .clm{
    width:calc(100% / 3 - 1px);
    height: 200px;
    background-color: #fff;
    border: 1px solid black; */


 /* .debug nav {
    background-color: pink;
} */

