 /* #commons  */
.display-flex{
    display: flex;
}
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 body {
     font-family: 'Open Sans', sans-serif;
 }
 .pos-right{
     right: 0;
 }
 .left {
     float: left;
 }
 .right {
     float: right;
 }
 .clearfix::after {
     content: '';
     display: table;
     clear: both;
 }
 .mar-top-20 {
     margin-top: 20px;
 }
 .mar-top-50 {
     margin-top: 50px;
 }
 .row::after {
     content: '';
     display: table;
     clear: both;
 }
 a {
     text-decoration: none;
 }
 i {
     margin-right: 3px;
 }
 li {
     list-style: none;
 }
 .container-70 {
     width: 70%;
     margin: auto;
 }
 .container-80 {
     width: 80%;
     margin: auto;
}
.min-w600{
    min-width: 600px;
} 
.min-w200{
    width: 100%;
    min-width:200px;
}
 .container-100 {
     width: 100%;
 }
 .border {
     border: 1px solid lightgray;
 }

 .border-btm {
     border-bottom: 1px solid lightgray;
 }

 .bold {
     font-weight: bold;
 }

 .light-gray {
     color: hsl(208deg 11% 48%);
 }


 .btn-blue a {
     /* display: inline-block; */
     background-color: #0061ff;
     margin: 0px 20px;
     color: white;
     padding: 8px 20px;
     font-weight: 600;
 }

 .btn-blue:hover {
     opacity: 0.5;
 }

 .pos-rel {
     position: relative;
 }

 .pos-abs {
     position: absolute;
 }

 .font-big {
    font-size: 60px;
}
 .underline{
    text-decoration: underline;
}

.operazioni h3{
    font-size:80px;
    padding:20px 0;
}

/* colori bg  */

.verde{
    background-color: #a3d39c;
}

.vinaccio{
    background-color: #61082b;
}

.celeste{
    background-color: #0093ce;
}

.arancione{
    background-color: #ff1c1c;
}

.rosso-scuro{
    background-color:#d5001f;
}

.celeste-chiaro{
    background-color:#b4d0e7 ;
}

.blue-scuro{
    background-color: #0d2481;
}

.giallo-paglia{
    background-color:#ffd830;
}




 /* header  */


 /* ##navbar##  */
 nav {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 60px;
     background-color: white;
     z-index: 3;
 }

 nav .row {
     line-height: 60px;
 }

 nav .row li {
     display: inline-block;
     margin: 0 5px;
     
 }



 nav .row li a {
     margin: 0 15px;
     font-size: 16px;
     color: black;
     font-weight: 400;
 }

 nav .row li:hover{
     background-color:#f2eee8 ;
 }

 nav .row li a:hover {
     display: inline-block;

 }


 nav .row img {
     display: inline-block;
     vertical-align: middle;
     object-fit: cover;
     padding-bottom: 5px;
 }


 nav .logo {
     margin: 0 20px;
 }


 .dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    width:100%;
    background-color:#f2eee8;
    z-index: 2;
  }
 
  .dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
  }
 
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #f2eee8;
  }

  .dropdown:hover{
background-color: #f2eee8;
  }

  

/* ####sezione menu dropdown a colonne ###### */
.hidden-menu:hover{
    background-color: #f2eee8;
}

.menu{
    display: none;
    position: absolute;
    top: 50px;
    background-color:#f2eee8;
    z-index: 2; 
  }

.menu .right .content{
    right: 50px;
}
.menu .content{
      width: calc(100% / 3)
  }

.hidden-menu:hover .menu{
      display: block;
      background-color: #f2eee8;
  }
.menu .row{
}
.hidden-menu .menu .content ul{
    width:100%;
}


.hidden-menu .menu a{
      margin: 10px 0px;
      font-size: 13px;
      width: 100%;
  }

  
.hidden-menu .menu h6{
      display: block;
      padding: 15px;
      margin:0px 0;
      font-size: 14px;
  }

.hidden-menu .menu .content li{
    display: block;
    padding: 12px;
    margin:0px 0;
    width: 100%;

  }
.hidden-menu .menu .content li:hover{
      background-color: lightgray;
      
  }

.hidden-menu .menu li:hover a{
      border: none;
      margin: 0;
      padding: 0;
  }


  nav .hidden-menu .menu .row .content{
      line-height:15px ;
      padding-bottom: 5px;

  }

/* ####/fine menu dropdown a colonne####  */


  /* ####Jumbo section####  */

#jumbo{
    background-color:#b4d0e7;
    margin-top: 60px;
    width: 100%;
    

    
}

#jumbo img{
    width:120%;
    height: 430px;
    
}

#jumbo .container-80{
    max-width:1200px;
    top: 80px;
}



h1{
    font-size: 50px;
    padding-bottom: 30px;
}



#jumbo .container-80 .sx{
    width: 40%;  
    font-size: 16px;
}

#jumbo .container-80 .sx p{
 
}


#jumbo .container-80 .dx{
    width: 60%;
    max-height:500px;
    padding-left: 100px;
}

#jumbo .container-100 .sx .btn-blue{
    margin-top: 50px;
    margin-bottom: 20px;
}
#jumbo .container-100 .sx .btn-blue a{
    margin: 0;
}

.arrow{
    padding-top: 40px;
    display: block;
    font-size: 40px;
}


 /* main */
 main {
     margin-top: 80px;
 }

 /* #setction1#  */

 /* #piano-drop#box  */

 #section1 .piano-dropbox {
     width: 100%;
     margin-top: 200px;

 }

 #section1 .piano-dropbox h2 {
     font-size: 50px;
     padding-bottom: 70px;
 }

 #section1 .piano-dropbox input {
     display: inline-block;
     margin-bottom: 50px;
 }

 section .row {
     width: 100%;
 }

 section#section1 .clm {
     display: inline-block;
     width: calc(100% / 3 - 20px);
     min-height: 1400px;
 }


 section .clm:nth-child(even) {
     margin: 0 30px;
 }

 section .clm h5 {
     font-size: 16px;
     text-align: center;
     margin-bottom: 10px;
     padding: 20px;
 }

 section .clm h4 {
     font-size: 30px;
     margin-bottom: 15px;
 }

 section .clm .lista-top ul li {
     margin: 30px 0;
     font-weight: 500;
 }




 .clm .btn-blue a{
     display: block;
     width: 100%;
     margin: auto;
     text-align: center;
     
     margin: 10 0px;
 }

 .acq-ora {
     padding-bottom: 50px;
 }

 .acq-ora a {
     color: #0061ff;
 }

 .acq-ora a:hover {
     text-decoration: underline;
 }

 .acq-ora::after {
     content: '';
     display: block;
     position: relative;
     width: 16%;
     border: 1px solid #8989896b;
     margin-top: 40px;
 }

 .lista-bottom .punti {
     display: block;
     font-size: 20px;
 }

 .lista-top ul li{
    font-size: 18px;
    padding-left:25px;

}

.lista-top i{
    color:black;
    text-align:left;
    margin-left:-25px;
}
 .lista-bottom ul li{
     font-size: 18px;
     padding-left:25px;

 }

 .lista-bottom i{
     color: #0061ff;
     text-align: left;
     margin-left: -25px;

 }

 section#section1 .custom{
margin: 50px 0px;}

section#section1 .row{
    padding-bottom: 50px;
}

 section#section1 .custom h5{
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
section#section1 .custom .clm-sx{
    font-size: 20px;
    text-align: left;
    line-height: 2.6;
    width: 70%;
    padding-left: 40px;
}

section#section1 .custom .clm-sx h3{
    font-size: 30px;
}

section#section1 .custom .clm-sx p{
    font-size: 18px;
    padding-top: 30px;
}

section#section1 .custom .clm-dx{
    text-align: center;
    width: 30%;
    padding-right: 0;
}
section#section1 .custom .btn-blue a{
    display: block;
    width: 90%;
    padding: 15px 0px;
    margin-left: 0px;
    
  }

  /* #sextion2*/

  /* partners */
section#section2 .box{

    margin-top: 100px;
    width: calc(100% / 2);
    padding: 60px 0;
}

section#section2 .box img{
    width: 100%;
}

section#section2 .row .dx{

    padding-top: 100px;
    padding-left: 50px;
}

section#section2 .row h3{
    font-size: 30px;
}

section#section2 .row p{
    font-size: 20px;
    font-weight: 500;
}

section#section2 .row .btn-blue{
    margin-top: 40px;
}

section#section2 .row .btn-blue a{
    font-size: 20px;
    font-weight: 400;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin:0;
    ;
}

/* card section  */

.operazioni .row .clm{
    padding-bottom: 20px; 
    width: calc(100% / 3 - 40px);
    min-height: max-content;
   
}

.operazioni .row .clm img{
    width: 100%;
}

.operazioni .row .clm p{
    font-size: 21px;
    padding-bottom: 150px;
}


/* #section3  */
.h-team {
    margin-bottom: 50px;
}

.h-team a{
    color: #478dff;
    
}

.h-team a:hover{
    text-decoration: underline;
    opacity: 0.5;
}

.h-team h3{
    text-align:unset;
    width:75%;
    font-size: 40px;
}
/* company-box  */

.row .company{
    width: 100vw;
}


.row .company-container{
    line-height: 200px;
    height: 400px;
    width: 30%;
}


/* ###use tranform scale for button effect#### */
.row .company-container .box-company:hover{
    transform:scale(0.90)
}



.row .company-description{
    width: 40%;
    height: 400px;
    background-color:#f5f5f5;
}

.box-company{
    float: left;
    width: calc(100% / 2);
    height: calc(100% / 2);
    text-align: center;
   
}

.box-company img{
    width: 50%;
    filter: invert();
    vertical-align: middle;
}

 .img-logo-uni{
   padding-bottom: 10px;
    margin: 30px 0px;
}

.img-logo-uni img{
    width: 40%;
}

.company-description .container-70{
    padding-top: 20px;
}

.company-description .img-logo-uni::after{
    content: '';
    display: block;
    position: relative;
    width: 10%;
    border: 1px solid #8989896b;
    margin-top: 8%;
}


.banner{
    height: 350px ;
    background-color: #b4d0e7 ;
}


.banner .testo{
    color: #61082b;
    width: 60%;
    text-align: left;
    font-size: 30px;
}

.banner .testo h3{
    padding: 140px 150px;
}

.banner .btn-banner{
    width: 40%;
    padding-top: 140px;
   
}

.banner .btn-banner a{
width: 70%;
color: black;
display: inline-block;
font-size: 15px;
background-color: white;
padding: 10px 50px;
text-align: center;
}

.btn-banner:hover a{
    opacity: 0.5;
}

/* sezione faq  */

#section4  h2{
    font-size: 2em;
    margin-top: 150px;
   padding-bottom: 60px;
}

.accordion{
    border-bottom: 1px solid lightgray;
}

.accordion__btn {
    background-color: white;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    border: none;
    border-top: 1px solid lightgray;
    outline: none;
    transition: 0.4s;
    padding: 30px 0;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .accordion__btn-icon {
    height: 32px;
    width: 32px;
    margin-left: 5px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: 0.3s;
  }
  .accordion__btn-icon:after {
    content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3902 13.3371L14.8402 8.79221C14.9433 8.6871 15 8.54677 15 8.39715C15 8.24753 14.9433 8.10721 14.8402 8.00209L14.5126 7.66739C14.2991 7.4496 13.9521 7.4496 13.739 7.66739L10.0021 11.4838L6.26105 7.66316C6.15804 7.55804 6.02072 7.5 5.8743 7.5C5.72772 7.5 5.5904 7.55804 5.48731 7.66316L5.15975 7.99786C5.05675 8.10306 5 8.2433 5 8.39292C5 8.54254 5.05675 8.68286 5.15975 8.78798L9.61386 13.3371C9.7172 13.4425 9.85516 13.5003 10.0018 13.5C10.1491 13.5003 10.2869 13.4425 10.3902 13.3371Z' /%3E%3C/svg%3E%0A");
    width: 20px;
    height: 20px;
  }
  .accordion__btn-icon.rotated {
    transform: rotate(-180deg);
  }
  
  .accordion__content {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-out;
  }
  
  .accordion__content-data {
    padding: 12px;
  }
  .accordion__content-data .accordion-list {
    margin-top: 12px;
  }

  /* #Footer  */
  
footer{
    padding-top:50px ;
    padding-left: 50px;
    margin-top: 150px;
    height: 500px;
    background-color: #2c2f33;;
}

footer .clm{
    width: 30%;
}


footer .clm-list{
    text-align: left;
    width: calc(100% / 5);
    padding-top: 20px;
    padding-left: 30px;
    
}

 footer .clm-list li{
    list-style: none;
    line-height: 2;
    }
 footer .clm-list li a{
     color: white;
 }

 footer li:not(:first-child):hover{
     opacity: 0.6;
 }

 footer li:first-child{
     font-size: 20px;
     margin-bottom:20px;
     font-weight: 900; 
 }

 
#footer-bottom{
    width: 100%;
    padding-top: 40px;
    padding-left: 25px;
}

#footer-bottom::before{
    content: '';
    display: block;
    position: relative;
    width: 16%;
    border: 1px solid #8989896b;
    margin-top: 40px;
    margin-bottom: 50px;
}

.dropbtn {
    background-color: #2c2f33;
    color: #5f5f5f;
    padding: 0px 0px;
    font-size: 16px;
    border: none;
  }
  
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  .dropup-content {
    display: none;
    position: absolute;
    background-color: #2c2f33;
    min-width: 160px;
    
    bottom: 20px;
    z-index: 2;
  }
  
  .dropup-content a {
    color: #5f5f5f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropup-content a:hover {background-color: #ccc}
  
  .dropup:hover .dropup-content {
    display: block;
  }
  
  .dropup:hover .dropbtn {
    opacity: 0.5;
  }

  .dropup .fa-chevron-up,
  .dropup .fa-globe{
      padding: 0 4px;
  }



  

.chat{
    position: fixed;
    bottom: 30px;
    right: 50px;
}
.chat button{
    border-radius: 50%;
    padding: 30%;
    border: none;
}
.chat i {
    background-color: white;
    color: blue;
    border-radius: 50%;
    font-size: 40px;
    margin: 0px;
}
.chat:hover .chat-content{
    display: block;
}
.chat-content{
    position: absolute;
    display: none;
    bottom: 50px;
    right: 0px;
    border-radius: 25px 25px 0px 25px;
    width: 250px;
    height: 350px;
    background-color:#fff;
    border: 1px solid 5f5f5f;
    box-shadow: 3px 4px 5px 4px rgba(0,0,0,0.59);
    -webkit-box-shadow: 3px 4px 5px 4px rgba(0,0,0,0.59);
    -moz-box-shadow: 3px 4px 5px 4px rgba(0,0,0,0.49);
    padding-bottom: 10px;
    z-index: 10;
    
}
.chat-hidden{
    position: inline-block
    ;
}
.chat-nav{
    margin: 0;
    line-height: 40px;
    height: 40px;
    background-color:blue;
    border-radius: 25px 25px 0px 0px;
}
#chat-textarea{
    width: 80%;
    outline: none;
    resize: none;
    border: none;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #5f5f5f;
    
}
.green-circle{
    width:50%;
    background-size: cover;
    text-align: right;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 5px;
}
.green-circle img{
    width: 100%;
}
.chat-name{
    color:#fff;
    padding-left: 10px;
}
.textarea{
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #5f5f5f4b;
    padding: 5px;
}
.textarea i{
    height: 20px;
    font-size: 1.5rem;
    text-align: center;
  
}
.send-btn{ 
    background-color: #fff;
    border: 0;
    outline: 0;
    font-size: 1rem;
    font-family: monospace;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 4px solid #d9d9d9;
    margin-right: 0;
}
.send-btn:hover {
box-shadow: 0px 15px 25px -5px #0057ab;
transform: scale(1.03);
}
.send-btn:active {
box-shadow: 0px 4px 8px #0065c8;
transform: scale(0.98);
}
.send-icon{
    text-align: center;  
    padding-top: 5px;
}


.debug .testo{
    height: 350px;
    background-color: red;
} 


/* debug section  */


/* .debug .box-uni{
   border: 1px solid black;
} */


/* .debug .company-description{
   width: 40%;
   height: 400px;
   background-color:#f5f5f5;
} */






/* .debug #section1 {
    height: 800px;
    /* background-color: yellow; */


/* 
.debug #section1 .titolo{
   width: 100%;
   margin-top: 200px;
   background-color: green
   ;
} */

/* .debug #section1 .row{
   width:100%;
   height: 300px;
   background-color: red;
} */

/* .debug #section1 .clm{
   width:calc(100% / 3 - 1px);
   height: 200px;
   background-color: #fff;
   border: 1px solid black; */


/* .debug nav {
   background-color: pink;
} */
